// Media
$minwidth: 320px;
$mw: 1200px;
$md1: $mw + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

//Colors
$text-primary: #2a2a2a;
$text-secondary: #828799;
$text-tertiary: #f5f6fa;

$yellow: #fbc531;
$blue: #487eb0;
$red: #e74c3c;
$purple: #340f6f;
